plugins/nyanyabot-plugin-amiabot-bilibili
plugins/nyanyabot-plugin-amiabot-pixiv
plugins/nyanyabot-plugin-amiabot-pjsk-card
plugins/nyanyabot-plugin-amiabot-pjsk-event
plugins/nyanyabot-plugin-amiabot-pjsk-song
plugins/nyanyabot-plugin-amiabot-zeabur-status
