<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>AmiaBot WebUI</title>
</head>
<body>
    <div id="app">
        <nav id="nav">
            <ul>
                <li><a href="#base-info" data-id="base-info">基础信息</a></li>
                <li><a href="#plugin-manage" data-id="plugin-manage">插件管理</a></li>
                <li><a href="#log-view" data-id="log-view">日志查看</a></li>
            </ul>
        </nav>
        <div id="content">
            <div id="appbar">
                <div id="page-name">AmiaBot WebUI</div>
            </div>
            <div id="page"></div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
